<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>
    <h1>FARMACEUTICA</h1>
    <ul>
        {% for sucursal in sucursales %}
        <li>
            <a href="{% url 'consulta:productos_en_sucursal' sucursal.id%}">
                <button>
                    <p>{{ sucursal.nombre }}</p>
                    <p>{{ sucursal.ubicacion }}</p>
                    <p>{{ sucursal.telefono }}</p>
                </button>
            </a>
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'consulta:login' %} " class="login-button">Login</a>
</body>
</html>