<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario en sucursal</title>
</head>
<body>
    <h1>{{sucursalId.nombre}}</h1>
    <a href="{% url 'consulta:lista_sucursales' %}">Volver</a>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Descripción</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{ producto.nombre }}</td>
                <td>${{ producto.precio }}</td>
                <td>{{ producto.descripcion }}</td>
                <td>{{ producto.stock }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>