<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>
</head>
<body>
    <header>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">
                Cerrar sesión
            </button>
        </form>
    </header>
    <h1>Lista de Productos</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Descripción</th>
                <th>Stock</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{ producto.nombre }}</td>
                <td>${{ producto.precio }}</td>
                <td>{{ producto.descripcion }}</td>
                <td>{{ producto.stock }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>