<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Venta</title>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'ventas:lista_productos' 0 %}">Lista de Productos</a>
            <a href="{% url 'ventas:agregar_producto' %}">Agregar Producto</a>
            <a href="{% url 'ventas:venta_productos' 0 %}">Venta</a>
        </nav>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">
                Cerrar sesión
            </button>
        </form>
    </header>
    <main>
        <h1>Venta de Productos</h1>
        
        <form method="POST" action="{% url 'ventas:venta_productos' 0 %}">
            {% csrf_token %}
            <label for="sucursal">Seleccionar Sucursal:</label>
            <select name="sucursal" id="sucursal" onchange="window.location.href=this.value;">
                <option value="{% url 'ventas:venta_productos' 0 %}">--Seleccione una sucursal--</option>
                {% for sucursal in sucursales %}
                    <option value="{% url 'ventas:venta_productos' sucursal.id %}" {% if sucursal == sucursal_seleccionada %}selected{% endif %}>
                        {{ sucursal.nombre }}
                    </option>
                {% endfor %}
            </select>
        </form>

        {% if productos %}
        <form method="POST">
            {% csrf_token %}
            <table>
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Stock</th>
                        <th>Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    {% for producto in productos %}
                    <tr>
                        <td>{{ producto.nombre }}</td>
                        <td>{{ producto.precio }}</td>
                        <td>{{ producto.stock }}</td>
                        <td><input type="number" name="cantidad_{{ producto.id }}" min="1"></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="submit" name="confirmar_venta">Confirmar Venta</button>
        </form>
        {% else %}
        <p>Seleccione una sucursal para ver su inventario.</p>
        {% endif %}


        {% if error %}
        <p style="color: red;">{{ error }}</p>
        {% endif %}
        
    <footer>
        <p>&copy; 2024 Inventario Farmacia</p>
    </footer>
</body>
</html>